name: Docker React Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t jonhourcade/docker-react -f Dockerfile.dev .

      - name: Run tests
        run: docker run -e CI=true jonhourcade/docker-react npm run test
